@import url('./normalize.css');

:root {
    --font-mini: 12px;
    --font-small: 14px;
    --font-base: 16px;
    --font-upperbase: 18px;
    --font-medium: 20px;
    --font-formsHeadingAdaptive: 26px;
    --font-formsHeading: 28px;
    --font-semilarge: 30px;
    --font-large: 40px --color-white: #FFFFFF;
    --color-black: #000000;
    --color-grey1: #9F9F9F;
    --color-grey2: #DEDEDE;
    --color-error: #D80909;
}

@font-face {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/helvetica_regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/helvetica_bold.woff2') format('woff2');
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;

    max-width: 1150px;
    margin: 0 auto;
    padding: 0 20px;

    font-family: 'Helvetica', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-base);
    line-height: 19.2px;
    color: var(--color-black);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
    color: var(--color-grey1);
}

.link:focus,
.link:hover {
    color: var(--color-black);
}

.main-header {
    margin-top: 30px;
    margin-bottom: 50px;

    font-size: var(--font-upperbase);
}

.main-header__menu {
    display: flex;
    justify-content: space-between;
}

.menu__search-form {
    position: relative;
}

.menu__search-form::before {
    content: '';
    background-image: url('/img/search-ico.png');
    background-repeat: no-repeat;

    position: absolute;

    top: 0;
    left: 0;
    width: 27px;
    height: 27px;
}

.search-form__input {
    margin-left: 45px;
    width: 250px;
    height: 33px;

    font-family: inherit;

    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--color-grey1);
}

.search-form__input::placeholder {
    opacity: 1;
    color: var(--color-grey1);
}

.search-form__input:focus {
    outline: none;
}

.main-header__navigation {
    display: flex;
    justify-content: space-between;
}

.navigation__nav-list {
    width: 430px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;

    text-transform: uppercase;
}

.main-header__logo{
    margin-top: 30px;
    padding: 0 20px;
}

.breadcrumbs {
    margin-bottom: 50px;
    position: relative;
    font-size: var(--font-upperbase);
}

.breadcrumbs-link:not(:last-child) {
    color: var(--color-grey1);
}

.breadcrumbs-link:not(:last-child)::after {
    content: '/';
    padding: 0 10px;
}

.breadcrumbs-link:last-child {
    color: var(--color-black);
}
